footer {
    display: flex;
    padding: 5px;
    background-color: #7ac1e4;
    color: #fff;
    height: 15vh;
    width: 100vw;
    margin-top: 100vh;
}

.footer-links {
    margin-top: 2%;
    margin-left: 10%;

}

.footer-title {
    margin-top: 2%;
    padding-right: 30%;
}

